<div class="row">
  <div class="col-6">
    <h1 class="mt-5">Welcome to Instagram Clone</h1>

    <% unless account_signed_in?  %>
      <p class="lead">Please register or sign in to continue</p>
    
      <%= link_to "Sign Up", new_account_registration_path, class: "btn btn-success" %>
    
      <%= link_to "Sign In", new_account_session_path, class: "btn btn-primary" %>
    
      <%= link_to "Sign in with Facebook", account_facebook_omniauth_authorize_path, class: "btn btn-info" %>
    <% end %>
  </div>

  <div class="col-6">
    <div class="col-6">
      <div class="card" style="width: 25rem;">
        <%= image_tag("instaclone-homepage.jpg", alt: "Edit Entry", class: "card-img-top") %>
        <div class="card-body">
          <p class="card-text">Project for Learning Purpose</p>
        </div>
      </div>
    </div>
  </div>
</div>

